:root {
    --c-primary-light: #BAE3E3;
    --c-primary: #1aa1a0;
    --c-primary-dark: #0F8584;
    --c-secundary-light: #FAE8C8;
    --c-secundary: #EDB347;
    --c-secundary-dark: #E08B20;
    --c-Tertiary-light: #F3D6D8;
    --c-Tertiary: #D7767C;
    --c-Tertiary-dark: #C7595F;
    --c-font: #FBFBFB;
}

html,
body {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 61px;
    margin: 0;
}

/* FONT FAMILY */


.font-1 {
    font-family: 'Squada One', cursive;
}