body {
    background-color: black;
    background-image: url(../img/istockphoto-1277005028-612x612.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    font-size: 18px;
}

/* CONTAINERS */

.container-general {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.container-general .table {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}

/* INFORMATION BAR */

.container-general .table .row-top {
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-between;
    margin-top: .5rem;
    margin-bottom: 0rem;
    width: 100%;
}

.row-top .col-left {
    align-items: center;
    display: flex;
    justify-content: start;
    width: 50%;
}

.row-top .col-right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* INFORMATION BAR-ITEMS */
.row-top .col-left .avatar-img {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    box-shadow: 1px 3px 6px 1px rgb(41 37 37);
    height: 6rem;
    margin-top: 2rem;
    width: 6rem;
}

.row-top .col-left .user-name {
    align-items: center;
    background: linear-gradient(218deg, rgb(48, 26, 67) 0%, #453e4a 63%);
    border-radius: 2rem 2rem 2rem 2rem;
    box-shadow: 0px 2px 4px 2px rgb(53, 44, 61);
    color: rgb(217, 186, 231);
    display: flex;
    font-family: 'Alien', sans-serif;
    font-size: 1rem;
    height: 2.5rem;
    justify-content: center;
    margin-left: 0.8rem;
    margin-top: 1rem;
    width: 13rem;
}

/* POPUP  SALIR - INSTRUCCIONES*/
#popup,
#popupInf {
    display: none;
    height: 1.5rem;
    left: 40%;
    position: absolute;
    top: 10%;
    width: 30%;
    z-index: 2;
}

.content-pop {
    align-items: center;
    background-color: #2b2f2f;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0px 0px 14px 7px rgb(44, 46, 47);
    color: rgb(57, 215, 229);
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 1rem;
    position: relative;
    width: 17rem;
}

.content-popInf {
    background-color: #2b2f2f;
    background-image: url(../img/instrucciones-board.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 9px 5px rgb(44, 46, 47);
    height: 36rem;
    margin-top: -1.5rem;
    padding: 1rem;
    position: relative;
    width: 18rem;
}

.buttoms-popUp {
    align-items: center;
    display: flex;
    margin-top: .3rem;
}

.tittle-popUp {
    font-family: 'Squada One', cursive;
    margin-top: 0rem;
}

.close-game,
.change-level,
.button-close,
.button-inf {
    align-items: center;
    background: linear-gradient(218deg, rgba(40, 133, 148, 1) 0%, #32216b 47%);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: none;
    box-shadow: 0px 0px 10px 3px #5e49a6;
    color: rgb(4, 246, 254);
    cursor: pointer;
    font-family: 'Alien', sans-serif;
    font-size: 1.8rem;
    height: 3rem;
    margin-bottom: 0.3rem;
    text-align: center;
    width: 4rem;
}

.close-game:hover,
.change-level:hover,
.button-close:hover,
.button-inf:hover {
    background: rgba(40, 133, 148, 1);
    box-shadow: 0px 0px 8px 3px rgb(81, 180, 196);
}

.close-game {
    font-size: .8rem;
    height: 1.5rem;
    width: 6rem;
}

.change-level {
    font-size: .8rem;
    height: 1.5rem;
    margin-left: 1.5rem;
    width: 8rem;
}

.button-inf {
    font-family: 'Squada One', cursive;
    font-size: 1.2rem;
    transform: translate(-1rem, 0.5rem);
    width: 4rem;
}

/*BOARD*/
.container-general .table .board {
    align-items: center;
    background: rgb(41, 41, 41);
    background-image: url(../img/geometric-art-gf5009b81b_1280.jpg);
    background-position: center;
    border-radius: 2rem 2rem 2rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .5rem;
    margin-top: -2.5rem;
    padding: 1rem 1rem 0.8rem 1rem;
    position: relative;
    width: 80%;
}

.container-general .table .board::after {
    background: #fc00ff;
    background-image: linear-gradient(to right, #8ea6be, #00dbde);
    content: '';
    filter: blur(10px);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.board .row-ppal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.6rem;
    width: 100%;
}

/* First cell */
.board .row-ppal .points {
    align-items: center;
    background: rgb(41, 60, 70);
    box-shadow: 1px 2px 6px 2px rgb(56, 86, 101);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.board .row-ppal .points .pointScore {
    background-color: #222020;
    border-radius: 100%;
    box-shadow: 1px 2px 6px 2px rgb(23, 23, 23);
    height: 1rem;
    margin: .2rem;
    width: 1rem;
}

/* Second cell  */

.board .row-ppal .color-balls-container,
.table .row-bottom .color-balls-container-player {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .1rem;
    height: 2rem;
}

.board .row-ppal .color-balls-container .ball {
    background-color: #222020;
    border-radius: 100%;
    box-shadow: 1px 2px 6px 2px rgb(73, 71, 71);
    cursor: pointer;
    height: 2.5rem;
    margin: .4rem;
    width: 2.5rem;
}

.board .row-ppal .color-balls-container .ball:hover {
    background-color: #323131;
    box-shadow: 1px 2px 6px 2px rgb(92, 89, 89);
}

.table .row-bottom .color-balls-container-player {
    background-color: #6c7d7d;
    border-radius: 2rem;
    box-shadow: 1px 2px 6px 2px rgb(75, 89, 94);
    margin-top: -3.5rem;
}

.table .row-bottom .color-balls-container-player .ballPlayer {
    background-color: #222020;
    border-radius: 100%;
    box-shadow: 1px 2px 6px 2px rgb(73, 71, 71);
    cursor: pointer;
    height: 2rem;
    margin: .4rem;
    width: 2rem;
}

/* Third cell */

.board .row-ppal .validation-button {
    background: rgb(41, 60, 70);
    box-shadow: 1px 2px 6px 2px rgb(56, 86, 101);
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
    cursor: pointer;
    height: 2rem;
    text-align: center;
    width: 4rem;
}

.board .row-ppal .validation-button:hover {
    background: rgba(40, 133, 148, 1);
    box-shadow: 0px 0px 14px 7px rgb(81, 180, 196);
}

/* AVAILABLE COLORS */

.errorMessage {
    color: white;
    display: none;
    font-family: 'Squada One', cursive;
    font-size: 1.5rem;
    margin: 0rem;
    position: absolute;
    transform: translateX(2rem)translatey(34rem);
}

#pointScore.pointScore.black {
    /* Atributos para la clase 'black' */
    background-color: rgb(172, 43, 212) !important;
    box-shadow: 0px 0px 5px 2px rgb(130, 63, 139);
}

#pointScore.pointScore.white {
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgb(170, 175, 176);
}

@media (max-width: 768px) {
    .container-general {
        height: 100vh;
    }

    /* INFORMATION BAR */
    .container-general .table {
        height: 100%;
        width: 100%;
    }

    /* INFORMATION BAR */

    .container-general .table .row-top {
        height: 3rem;
        margin-top: .5rem;
        margin-bottom: 0rem;
        width: 96%;
}
    /* INFORMATION BAR-ITEMS */

    .row-top .col-left {
        width: 70%;
    }
    .row-top .col-right {
        width: 30%;
    }
    .row-top .col-left .avatar-img {
            margin-left: 0.5rem;
            margin-top: 1rem;
            height: 4.2rem;
            width: 4rem;
    }

    .row-top .col-left .user-name {
        font-size: .8rem;
        height: 1.5rem;
        margin-top: 1rem;
        margin-left: -3rem;
        transform: translateX(4rem);
        width: 10rem;
    }

    /* POPUP  SALIR - INSTRUCCIONES*/
    #popup,
    #popupInf {
        left: 4%;
        top: 8%;
        width: 30%;
    }

    .content-pop {
        margin-top: 4rem;
        padding: 1rem;
        width: 17rem;
    }

    .content-popInf {
        height: 33rem;
    margin-top: -1.5rem;
    padding: 0rem;
    width: 17rem;
    }

    .buttoms-popUp {
        margin-top: .3rem;
    }

    .tittle-popUp {
        margin-top: 0rem;
    }

    .close-game,
    .change-level,
    .button-close,
    .button-inf {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        text-align: center;
        width: 2.5rem;
    }

    .close-game {
        font-size: .8rem;
        height: 1.5rem;
        width: 6rem;
    }

    .change-level {
        font-size: .8rem;
        height: 1.5rem;
        margin-left: 1.5rem;
        width: 8rem;
    }

    .button-inf {
        font-size: 1.2rem;
        transform: translate(-1rem, 0.5rem);
        width: 3rem;
    }

    /*BOARD*/
    .container-general .table .board {
        margin-top: -2rem;
        padding: 0.3rem;
        width: 95%;
    }

    .board .row-ppal {
        margin: 0.2rem;
    }

    /* First cell */
    .board .row-ppal .points{
        height: 1.5rem;
        flex-wrap: wrap;
        width: 3rem;
    }
    
    .board .row-ppal .points .pointScore {
        height: .4rem;
        width: .4rem;
    }

    /* Second cell  */
    .board .row-ppal .color-balls-container{

    }
    .board .row-ppal .color-balls-container .ball {
        height: 1.5rem;
        margin: .3rem;
        width: 1.5rem;
    }

    .table .row-bottom .color-balls-container-player {
margin: 0rem;
margin-top: -3rem;
    }

    .table .row-bottom .color-balls-container-player .ballPlayer {
        height: 1.5rem;
        margin: .4rem;
        width: 1.5rem;
    }

    /* Third cell */

    .board .row-ppal .validation-button {
        height: 1.5rem;
        width: 3.3rem;
    }

    /* AVAILABLE COLORS */

    .errorMessage {
        font-size: 1rem;
        transform: translateX(0rem)translatey(30rem);
    }
}