body {
    background: rgb(26, 25, 26);
    margin: 0;
    font-size: 18px;
}

/* CONTAINERS */
.container-general {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.container-general .table {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}

.text-color {
    background: #B611CF;
    background: linear-gradient(to right, #B611CF 0%, #44B3CF 75%);
    font-family: 'Alien', sans-serif;
    font-size: 3rem;
    margin-bottom: 0rem;
    margin-top: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BALLS - CONTAINER */

.balls-container {
    align-items: center;
    background: rgb(41, 41, 41);
    background: linear-gradient(0deg, rgba(41, 41, 41, 1) 53%, rgba(134, 130, 130, 1) 84%, rgba(27, 26, 26, 1) 95%);
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    position: relative;
}

.balls-container::after {
    background: #fc00ff;
    background-image: linear-gradient(to right, #fc00ff, #00dbde);
    content: '';
    filter: blur(10px);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.balls-container .ball {
    border-radius: 50%;
    box-shadow: 1px 2px 6px 2px rgb(23, 23, 23);
    cursor: pointer;
    height: 5rem;
    margin: 1rem;
    overflow: hidden;
    width: 5rem;
}

.balls-container .ball input {
    background-color: #222020;
    border-radius: 100%;
    cursor: pointer;
    height: 150%;
    width: 150%;
    padding: 0;
    border: none;
    outline: 0;
    margin: 0;
    transform: translate(-20px, -5px);
}

.confirm-color {
    align-items: center;
    background: linear-gradient(218deg, rgba(40, 133, 148, 1) 0%, #32216b 47%);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: none;
    box-shadow: 0px 0px 10px 3px #5e49a6;
    color: rgb(4, 246, 254);
    cursor: pointer;
    font-family: 'Alien', sans-serif;
    font-size: 1.3rem;
    height: 3.5rem;
    transform: translateX(15rem)translatey(-3rem);
    width: 10rem;
}

.confirm-color:hover {
    background: rgba(40, 133, 148, 1);
    box-shadow: 0px 0px 14px 7px rgb(81, 180, 196);
}

.errorMessage {
    color: white;
    display: none;
    font-family: 'Squada One', cursive;
    font-size: 1.5rem;
    margin: 0rem;
    position: absolute;
    transform: translateX(2rem)translatey(34rem);
}

@media (max-width: 768px) {
    .container-general {
        height: 100vh;
    }

    .container-general .table {
        height: 100%;
        width: 100%;
    }

    .text-color {
        text-align: center;
    }

    /* BALLS - CONTAINER */

    .balls-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -5rem;
        width: 80%;
    }

    .balls-container .ball {
        height: 70px;
        margin: .6rem;
        overflow: hidden;
        width: 70px;
    }

    .balls-container .ball input {
        border-radius: 100%;
        cursor: pointer;
        height: 250%;
        width: 250%;
        padding: 0;
        border: none;
        outline: 0;
        margin: 0;
        transform: translate(-80px, -80px);
    }

    /* CONFIRM - CLOSE */
    .confirm-color {
        font-size: 1.2rem;
        height: 2.8rem;
        transform: translate(6rem, -2rem);
        width: 8rem;
    }

    .errorMessage {
        font-size: 1rem;
        transform: translateX(-1rem)translatey(27rem);
        position: absolute;
    }
}