/* CONTAINERS */
.container-general {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.container-general .welcome-table {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

/* TOP */

.container-general .welcome-table .row-top {
    margin-bottom: 0.2rem;
    width: 85%;
}

.row-top .about-creator {
    background: linear-gradient(142deg, rgba(95, 79, 244, 1) 17%, #191c46 51%);
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 12px 2px #5e5ebf;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.row-top .about-creator:hover {
    background: #191c46;
    box-shadow: 0px 0px 12px 5px #5b5f98;
}

/* MIDDLE */

.container-general .welcome-table .row-middle {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 65%;
    margin-top: -2rem;
    width: 67%;
}

.logo-container {
    align-items: end;
    background-image: url(../img/nebula_-_25047\ \(540p\).gif);
    border-radius: 100%;
    box-shadow: 2px -6px 26px 0px rgba(179, 178, 178, 0.39);
    display: flex;
    height: 26rem;
    justify-content: center;
    width: 28rem;
}

.logo-ppal {
    background-image: url(../img/logo-background-3.png);
    background-size: cover;
    height: 29rem;
    position: absolute;
    transform: translate(13px, 62px);
    width: 29rem;
}

/* BOTTOM */

.container-general .welcome-table .row-bottom {
    align-items: center;
    display: flex;
    height: 25%;
    justify-content: center;
    width: 85%;
}

/* LEFT */
.welcome-table .row-bottom .row-bottom-left {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: center;
    width: 40%;
}

.play-button {
    align-items: center;
    background: linear-gradient(218deg, rgba(40, 133, 148, 1) 0%, #32216b 47%);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: none;
    box-shadow: 0px 0px 14px 7px #5e49a6;
    color: rgb(4, 246, 254);
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-1);
    font-size: 50px;
    height: 5rem;
    justify-content: center;
    width: 70%;
}

.play-button:hover {
    background: rgba(40, 133, 148, 1);
    box-shadow: 0px 0px 14px 7px rgb(81, 180, 196);
}

/* RIGHT */

.welcome-table .row-bottom .row-bottom-right {
    align-items: end;
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: space-evenly;
    width: 60%;
}

.row-bottom-right .instructions-button {
    background: linear-gradient(218deg, rgba(59, 66, 68, 1) 0%, #595177 83%);
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: inset 5px 6px 7px 1px #bab6bd99;
    color: #c7afed;
    cursor: pointer;
    font-family: var(--font-family-1);
    font-size: 1.7rem;
    height: 3.5rem;
    padding: 0.7rem;
}

.row-bottom-right .instructions-button:hover {
    box-shadow: 1px 1px 9px 3px rgb(235 128 201);
    background: linear-gradient(218deg, rgb(128 40 99) 0%, #3c3362 83%);
}

.row-bottom-right .sound-button {
    align-items: center;
    background: linear-gradient(218deg, rgba(59, 66, 68, 1) 0%, #595177 83%);
    border: none;
    border-radius: 100%;
    box-shadow: inset 5px 6px 7px 1px #bab6bd99;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: space-around;
    width: 13%;
}

.row-bottom-right .sound-button:hover {
    box-shadow: 1px 1px 9px 3px rgb(235 128 201);
    background: linear-gradient(218deg, rgb(128 40 99) 0%, #3c3362 83%);
}

.soundImage {
    height: 1.5rem;
    width: 1.5rem;
}

.aboutImage {
    height: 1.5rem;
    opacity: 60%;
    width: 1.5rem;
}


@media (max-width: 768px) {
    /* TOP */
    .container-general .welcome-table .row-top {
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 100%;
    }

    .row-top .about-creator {
        height: 2.5rem;
        margin-top: -1rem;
        width: 2.5rem;
    }

    /* MIDDLE */
    .container-general .welcome-table .row-middle {
        height: 60%;
        width: 85%;
    }

    .logo-container {
        height: 17rem;
        margin-bottom: 1rem;
        width: 20rem;
    }

    .logo-ppal {
        height: 18rem;
        transform: translate(0.6rem,2.1rem);
        width: 18rem;
    }

    /* BOTTOM */
    .container-general .welcome-table .row-bottom {
       align-items: center;
        flex-direction: column;
        height: 9.5rem;
        margin-top: 1rem;
        width: 19rem;
    }

    .play-button {
        font-size: 45px;
        height: 3.5rem;
        margin-bottom: 1rem;
        width: 95%;
    }

    .instructions-button {
        font-size: 23px;
        height: 2.8rem;
        margin-bottom: .7rem;
        width: 100%;
    }

    .row-bottom-right .sound-button {
        height: 2rem;
        width: 19%;
        transform: translate(2rem, -0.7rem);
    }
}