/* CONTAINERS */

.container-general {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.container-general .table {
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.text-level {
    font-family: var(--font-family-2);
    font-size: 3rem;
    margin-bottom: 14rem;
}

.row-levels {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    transform:translatey(-9rem);
}

/* LEVEL - BUTTONS */

.row-levels span {
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-2);
    font-size: 2rem;
    height: 5rem;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
    width: 27rem;
}

.row-levels span.active {
    background: var(--c-primary);
    color: white;
}

/* CONFIRM - CLOSE */
.confirm-level {
    cursor: pointer;
    font-family: var(--font-family-2);
    height: 3rem;
    transform: translateX(12rem)translatey(6rem);
    width: 7rem;
}

@media (max-width: 768px) {
    .container-general {
        height: 100vh;
    }

    .container-general .table {
        height: 100%;
        width: 100%;
    }

    .text-level {
        font-size: 2rem;
        margin-top: -7rem;
        margin-bottom: 3rem;
    }
    .row-levels {
        gap: .5rem;
        transform:translatey(2rem);
    }

    /* LEVEL - BUTTONS */
    .row-levels span {
        font-size: 1.8rem;
        height: 3rem;
        margin-bottom: 1rem;
        width: 15rem;
    }

    /* CONFIRM - CLOSE */
    .confirm-level {
        height: 2rem;
        transform: translateX(6rem)translatey(5rem);
        width: 6rem;
    }
}