body {
  background: radial-gradient(circle, rgba(74, 80, 80, 1) 0%, rgba(18, 18, 18, 1) 11%, rgba(3, 3, 3, 1) 71%, rgb(26, 25, 26) 98%);
  margin: 0;
  font-size: 18px;
}

.container-general {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.container-general .table {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.tittle-register {
  background: linear-gradient(to right, #1E378A 0%, #30CFB4 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Alien', sans-serif;
  font-size: 4rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.indications-register {
  color: #30CFB4;
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* DROPDOWN - AVATAR */
.container-general .table .dropdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.dropdown .avatar-image {
  background-color: rgb(14, 14, 14);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 17rem;
  position: relative;
  width: 17rem;
}

.dropdown .avatar-image::after {
  background-image: linear-gradient(to bottom, #3eeaf6, #9362d3);
  border-radius: 100%;
  content: '';
  filter: blur(10px);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.dropdown .avatar-button {
  background: linear-gradient(142deg, rgba(95, 79, 244, 1) 17%, #191c46 51%);
  border: none;
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 0px 0px 12px 2px #5e5ebf;
  color: #30CFB4;
  cursor: pointer;
  font-family: 'Alien', sans-serif;
  height: 3rem;
  width: 8rem;
}

.dropdown .avatar-button:hover {
  background: #191c46;
  box-shadow: 0px 0px 12px 5px #5b5f98;
}

.dropdown .dropdown-content {
  background-color: #1d2227;
  box-shadow: 0px 0px 12px 5px #262631;
  display: none;
  flex-direction: row;
  position: absolute;
  top: 33%;
  z-index: 1;
}

.dropdown .dropdown-content .img-avatar1,
.dropdown .dropdown-content .img-avatar2,
.dropdown .dropdown-content .img-avatar3,
.dropdown .dropdown-content .img-avatar4,
.dropdown .dropdown-content .img-avatar5 {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 7rem;
  background-size: cover;
  opacity: 20%;
  margin: .8rem;
  width: 7rem;
  transition: opacity 0.3s ease;
}

.dropdown .dropdown-content .img-avatar1:hover,
.dropdown .dropdown-content .img-avatar2:hover,
.dropdown .dropdown-content .img-avatar3:hover,
.dropdown .dropdown-content .img-avatar4:hover,
.dropdown .dropdown-content .img-avatar5:hover {
  opacity: 80%;
  filter: brightness(140%);
}

.dropdown .dropdown-content .img-avatar1:hover {
  box-shadow: 0px 0px 12px 3px #80A8FC;
}

.dropdown .dropdown-content .img-avatar2:hover {
  box-shadow: 0px 0px 12px 3px #3CED54;
}

.dropdown .dropdown-content .img-avatar3:hover {
  box-shadow: 0px 0px 12px 3px #f130bd99;
}

.dropdown .dropdown-content .img-avatar4:hover {
  box-shadow: 0px 0px 12px 3px #4d0d0d99;
}

.dropdown .dropdown-content .img-avatar5:hover {
  box-shadow: 0px 0px 12px 3px #8334c099;
}

.dropdown-content.show {
  align-items: center;
  border-radius: 2rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
}

/* FORM - USER-NAME */

.container-general .table .user-name-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.user-name-form .user-name {
  background-color: #2b2d46;
  border-radius: 2rem 2rem 2rem 2rem;
  border: none;
  font-family: 'Alien', sans-serif;
  height: 2rem;
  text-align: center;
  width: 20rem;
}

.user-name-form .user-name:focus {
  background-color: #a03678;
  color: #f2f3ff;
  outline: none;
}

.user-name-form .confirm-button-userName {
  align-items: center;
  background: linear-gradient(218deg, rgba(40, 133, 148, 1) 0%, #32216b 47%);
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: none;
  box-shadow: 0px 0px 10px 3px #5e49a6;
  color: rgb(4, 246, 254);
  cursor: pointer;
  font-family: 'Squada One', cursive;
  font-size: 2rem;
  height: 3.5rem;
  width: 45%;
  transform: translate(11rem);
}

.user-name-form .confirm-button-userName:hover {
  background: rgba(40, 133, 148, 1);
  box-shadow: 0px 0px 14px 7px rgb(81, 180, 196);
}

.errorMessage {
  color: white;
  display: none;
  font-family: 'Squada One', cursive;
  font-size: 1rem;
  margin: 0rem;
  transform: translateX(-1rem)translatey(-3rem);
}

@media (max-width: 768px) {
  .container-general {
    height: 100vh;
  }

  .container-general .table {
    height: 100%;
    width: 100%;
  }

  .tittle-register {
    font-size: 2rem;
    margin-bottom: 0rem;
    margin-top: 2.3rem;
  }

  .indications-register {
    font-size: .8rem;
    margin-bottom: 1rem;
  }

  /* DROPDOWN - AVATAR */
  .container-general .table .dropdown {
    gap: 1rem;
  }

  .dropdown .avatar-image {
    height: 15rem;
    width: 15rem;
  }

  .dropdown .dropdown-content .img-avatar1,
  .dropdown .dropdown-content .img-avatar2,
  .dropdown .dropdown-content .img-avatar3,
  .dropdown .dropdown-content .img-avatar4,
  .dropdown .dropdown-content .img-avatar5 {
    height: 4rem;
    width: 4rem;
    margin: 0.1rem;
  }

  .dropdown .avatar-button {
    font-size: 1rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 5rem;
  }

  .dropdown .dropdown-content {
    flex-direction: column;
    top: -25%;
    height: 22rem;
    width: 5.2rem;
  }


  .dropdown .dropdown-content img {
    margin: .1rem;
    width: 4rem;
  }

  /* FORM - USER-NAME */

  .container-general .table .user-name-form {
    height: 12rem;
    margin-bottom: 2rem;
    margin-top: -.2rem;
  }

  .user-name-form .user-name {
    width: 12rem;
  }

  .user-name-form .confirm-button-userName {
    font-size: 1.3rem;
    height: 2rem;
    transform: translateX(6rem)translatey(0rem);
    width: 6rem;
  }

  .errorMessage {
    font-size: 1rem;
    transform: translateX(-3rem)translatey(-2rem);
  }
}