:root {
    --c-primary-light: #BAE3E3;
    --c-primary: #1aa1a0;
    --c-primary-dark: #0F8584;
    --c-secundary-light: #FAE8C8;
    --c-secundary: #EDB347;
    --c-secundary-dark: #E08B20;
    --c-Tertiary-light: #F3D6D8;
    --c-Tertiary: #D7767C;
    --c-Tertiary-dark: #C7595F;
    --c-font: #FBFBFB;
    --w-break-point: 768px;
    --font-family-1: 'Squada One', cursive;
    --font-family-2: 'Alien', sans-serif;
}

html,
body {
    /* background: rgb(14, 14, 14); */
    background: radial-gradient(circle, rgba(74,80,80,1) 0%, rgba(18,18,18,1) 11%, rgba(3,3,3,1) 71%, rgba(64,63,63,1) 98%);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    margin: 0;
}

.btn {
    font-family: var(--font-family-1);
    padding: 0.5rem 1rem;
}

.btn.btn-primary {
    background-color: var(--c-primary);
    color: white;
}
