body {
    background: rgb(26, 25, 26);
    margin: 0;
    font-size: 18px;
}


/* CONTAINERS */

.container-general {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.container-general .table {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}

.tittleWinner {
    background: #B611CF;
    background: linear-gradient(to right, #B611CF 0%, #44B3CF 75%);
    font-family: 'Alien', sans-serif;
    font-size: 4rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subTittleWinner {
    background: #B611CF;
    background: linear-gradient(to right, #B611CF 0%, #44B3CF 75%);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2rem;
    margin-top: -8rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ballsWinnerColors {
    align-items: center;
    background: rgb(41, 41, 41);
    background: linear-gradient(0deg, rgba(41, 41, 41, 1) 53%, rgba(134, 130, 130, 1) 84%, rgba(27, 26, 26, 1) 95%);
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.ballsWinnerColors::after {
    background: #fc00ff;
    background-image: linear-gradient(to right, #fc00ff, #00dbde);
    content: '';
    filter: blur(10px);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.winnerColors {
    border-radius: 50%;
    box-shadow: 5px 2px 6px 2px rgb(23, 23, 23);
    cursor: pointer;
    height: 5rem;
    margin: 1rem;
    overflow: hidden;
    width: 5rem;
}

.buttons-game {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.play-again,
.return-home {
    align-items: center;
    background: linear-gradient(218deg, rgba(40, 133, 148, 1) 0%, #32216b 47%);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: none;
    box-shadow: 0px 0px 14px 7px #5e49a6;
    color: rgb(4, 246, 254);
    cursor: pointer;
    display: flex;
    font-family: 'Alien', sans-serif;
    font-size: 2rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    width: 40%;
}

.play-again:hover,
.return-home:hover {
    background: rgba(40, 133, 148, 1);
    box-shadow: 0px 0px 14px 7px rgb(81, 180, 196);
}

@media (max-width: 768px) {
    .container-general {
        height: 100vh;
    }

    .container-general .table {
        height: 100%;
        width: 100%;
    }

    .tittleWinner {
        font-size: 3rem;
    }

    .subTittleWinner {
        font-size: 2rem;
        margin-top: -8rem;
    }

    .ballsWinnerColors {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    .winnerColors {
        height: 4rem;
        margin: 1rem;
        overflow: hidden;
        width: 4rem;
    }

    .play-again,
    .return-home {
        font-size: 1rem;
        height: 2.5rem;
        margin: 1rem;
        width: 35%;
    }
}